<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add book</title>

  <div th:replace="index::css"></div>
</head>
<body>

<div class="container">
  <div class="starter-template">

    <form th:action="@{/books/add}" th:method="post" th:object="${book}">
      <fieldset>
        <legend>Add new book</legend>

        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" id="title" name="title" th:field="*{title}"
                 placeholder="Enter book's title" required/>
        </div>

        <div class="form-group">
          <label for="author">Author</label>
          <select class="form-control" id="author" name="author" th:field="${book.author.id}">
            <option selected="selected"
                    th:each="author : ${authorList}"
                    th:value="${author.id}"
                    th:text="${author.firstName + ' ' + author.lastName}">
              Author
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="genre">Genre</label>
          <select class="form-control" id="genre" name="genre" th:field="${book.genre.id}">
            <option selected="selected"
                    th:each="genre : ${genreList}"
                    th:value="${genre.id}"
                    th:text="${genre.name}">
              Genre
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="publishYear">Publish year</label>
          <input class="form-control" id="publishYear" name="publishYear" th:field="*{publishYear}"
                 placeholder="Enter publishYear" required/>
        </div>

        <div class="form-group">
          <label for="isbn">Isbn</label>
          <input class="form-control" id="isbn" name="isbn" th:field="*{isbn}"
                 placeholder="Enter isbn" required/>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="btn btn-light">Reset</button>
        </div>
      </fieldset>
    </form>

  </div>
</div>

<div th:replace="index::js"></div>
</body>
</html>