<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="quizStore" class="ru.gavrilov.store.QuizStoreImpl">
        <constructor-arg value="questions.csv"/>
    </bean>

    <bean id="quizDao" class="ru.gavrilov.dao.QuizDaoImpl">
        <constructor-arg name="quizStore" ref="quizStore"/>
    </bean>

    <bean id="userService" class="ru.gavrilov.service.user.UserServiceImpl"/>
    <bean id="inputOutputService" class="ru.gavrilov.service.InputOutputConsoleService"/>

    <bean id="quizService" class="ru.gavrilov.service.quiz.QuizServiceImpl">
        <constructor-arg name="userService" ref="userService"/>
        <constructor-arg name="quizDao" ref="quizDao"/>
        <constructor-arg name="inputOutputService" ref="inputOutputService"/>
    </bean>

</beans>